<div id="dating-container" class="dating-container">
    <span id="dating-close">&times;</span>
    <i id="dating-left" class="fa fa-arrow-left"></i>
    <i id="dating-right" class="fa fa-arrow-right"></i>
    <div id="dating-modal" class="dating-modal">
        <div id="dating-modal-int">
            <img id="dating-img"></img>
            <div id="dating-name"></div>
            <div id="dating-desc">Our first line of instruments, the Atanas 8-string features a rich, deep tone and enormous range.</div>
            <ul id="dating-specs">
                <li id="strings"></li>
                <li id="frettype"></li>
                <li id="scalelength"></li>
                <li id="woodbody"></li>
                <li id="woodfretboard"></li>
                <li id="woodneck"></li>
                <li id="pickups"></li>
                <li id="pots"></li>
                <li id="tuners"></li>
            </ul>
            <div id="dating-price-tag">$1,799</div>
            <a id="feedMe">See More</a>
            <!-- <div id="paypal-button-container"></div>
                    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
                    <script>
                    paypal.Buttons({
                    style: {
                    shape: 'rect',
                    color: 'blue',
                    layout: 'vertical',
                    label: 'paypal',

                    },
                    createOrder: function(data, actions) {
                    return actions.order.create({
                    purchase_units: [{
                    amount: {
                    value: '1'
                    }
                    }]
                    });
                    },
                    onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    });
                    }
                    }).render('#paypal-button-container');
                    </script>
                    </div> -->
    </div>
</div>
