<section id="contact" class="four">
    <div class="container">

        <header>
            <h2>Contact Us</h2>
        </header>

        <p>We are happy to respond to any inquiries you may have! Either drop us a message using the form below,
        or send us an e-mail directly. We look forward to hearing from you.</p>

        <form method="post" action="#">
            <div class="row">
                <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
                <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="E-mail Address" /></div>
                <div class="col-12">
                    <textarea name="message" placeholder="Message"></textarea>
                </div>
                <div class="col-12">
                    <input type="submit" value="Send Message" />
                </div>
            </div>
        </form>

    </div>
</section>
