<section id="forsale" class="two">
    <div class="container">
        <header>
            <h2>For Sale</h2>
        </header>

        <p>Have a look at these pre-built guitars, hot and ready to be shipped to you!</p>

        <div class="grid">

            {% for guitar in site.for_sale %}
            <article class="item">
                <!--{% increment sale_index %}-->
                <img src="{{ guitar.profilepic }}" loading="lazy" class="image fit" alt="" />
                <header>
                    <h3>{{ guitar.name }}</h3>
                </header>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
