<ul class="icons">
    <!-- TODO: Do we want a Twitter? -->
    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="https://www.instagram.com/auditore.custom.instruments/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
    <!-- TODO: NEED a Facebook page. -->
    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
    <!-- TODO: Need domain. -->
    <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
</ul>
