<section id="portfolio" class="four">
    <div class="container">

        <header>
            <h2>Works in Progress</h2>
        </header>

        <p>Have a look at our current projects, and even some behind-the-scenes looks at our process.</p>

        <div class="grid">
            {% for wip in site.wips %}
            <article class="item">
                <img src="{{ wip.profilepic }}" loading="lazy" class="image fit" alt="" />
                <header>
                    <h3>{{ wip.name }}</h3>
                </header>
            </article>
            {% endfor %}
        </div>
    </div>
</section>
