<section id="portfolio" class="two">
    <div class="container">

        <header>
            <h2>Works in Progress</h2>
        </header>

        <p>Have a look at our current projects, and even some behind-the-scenes looks at our process.</p>

        <div class="grid">
            <article class="item">
                <img src="images/guitars/atanas/guit01.jpg" loading="lazy" class="image fit" alt="" />
                <header>
                    <h3>The Atanas 8 String</h3>
                </header>
            </article>
            <article class="item">
                <img src="images/guit02.jpg" loading="lazy" class="image fit" alt="" />
                <header>
                    <h3>Another Guitar</h3>
                </header>
            </article>
            <article class="item">
                <img src="images/bass01.jpg" loading="lazy" class="image fit" alt="" />
                <header>
                    <h3>Another One</h3>
                </header>
            </article>
            <article class="item">
                <img src="images/guit04.jpg" loading="lazy" class="image fit" alt="" />
                <header>
                    <h3>Another One</h3>
                </header>
            </article>
            <article class="item">
                <img src="images/guit03.jpg" loading="lazy" class="image fit" alt="" />
                <header>
                    <h3>Dolor Penatibus</h3>
                </header>
            </article>
            <article class="item">
                <img src="images/bass02.jpg" loading="lazy" class="image fit" alt="" />
                <header>
                    <h3>Orci Convallis</h3>
                </header>
            </article>
        </div>
    </div>
</section>
